services:

  donkey-redis-cache:
    image: redis
    expose:
      - 6379

  donkey-boilerplate:
    depends_on:
      - donkey-redis-cache
    environment:
      REDIS_URL: redis://redis:6379
      ENV: docker
    build: .
    ports:
      - "3000:3000"
